<div th:fragment="new-password" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="modal"
         id="pswdNewModal"
         tabindex="-1"
         role="dialog">
        <div class="modal-dialog"
             role="document">
            <div class="modal-content modal-pswd center-block">
                <div class="modal-body" id="pswdNewBlock">
                    <div class="text-center">
                        <h3><strong>Восстановление пароля</strong></h3>
                    </div>
                    <button class="close modal-pswd-close"
                            data-dismiss="modal"
                            data-marker="popup-location/close-button">X</button>
                    <div class="form-group recovery-form-padding" id="passwordModBlock">
                        <input class="form-control"
                               type="password"
                               id="newPassInput"
                               placeholder="Новый пароль"/>
                        <div class="d-flex justify-content-center">
                        <button type="button"
                                id="newPswdButton"
                                class="btn btn-primary center-block margin-button"
                        >Обновить пароль</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>