<div th:fragment="profile-body" xmlns:th="https://www.thymeleaf.org">
    <div class="profile-body">
        <li class="dropdown-divider"></li>

        <div class="col-md-3">
            <!--/*@thymesVar id="user" type="com.board_of_ads.models.User"*/-->
            <div th:if="${user.getAvatar()}">
                <img class="user-profile-avatar" id="avatar" th:src="${user.getAvatar().getPathURL()}"><br>
                <div class="user-profile-name" id="name" th:text="${user.getFirsName() + ' ' + user.getLastName()}">
                    %username%
                </div>
            </div>
            <div th:if="${user.getAvatar() == null}">
                <div class="user-profile-avatar" id="avatar"></div>
                <div class="user-profile-name" id="name" th:text="${user.getFirsName() + ' ' + user.getLastName()}">
                    %username%
                </div>
            </div>
            <a href="#">
                <span style="color: black"><strong>0,0</strong></span>
                <div class="rating-mini-profile">
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                    <span></span>
                    <span></span>
                </div>
                <span>Нет отзывов</span>
            </a>
            <li class="dropdown-divider"></li>
            <div class="profile-menu-font">
                <strong th:text="#{myAds}">Мои объявления</strong><br>
                <a th:text="#{myOrders}" href="#">Заказы</a><br>
                <a th:text="#{MyReviews}" href="#">Мои отзывы</a><br>
                <a th:text="#{Favourites}" href="#">Избранное</a><br>
                <li class="dropdown-divider"></li>
                <a th:text="#{messages}" href="#">Сообщения</a><br>
                <a th:text="#{Notifications}" href="#">Уведомления</a><br>
                <li class="dropdown-divider"></li>
                <a th:text="#{Wallet}" href="#">Кошелек</a><br>
                <a th:text="#{PaidService}" href="#">Платные услуги</a><br>
                <li class="dropdown-divider"></li>
                <a th:text="#{settings}" href="#">Настройки</a><br>
            </div>
        </div>
        <div class="col-md-9">

        </div>
    </div>
</div>